* {
    padding: 0;
    box-sizing: border-box;
}
.menu {
    position: fixed;
    width : 60%;
    height : 5%;
}
.search {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 50%;
}
.menu li {
    text-align: center;
    border: 1px solid black;
    width : 16.66%;
    height : 50%;
    list-style-type: none;
    float: left;
}
.body {
    display: flex;
}
.left {
    border: 1px solid black;
    width: 25%;
    height : 50%;
}
.side, .weather {
    border: 1px solid black;
    width: 100%;
    height: 50%;
}

